* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: hsl(210, 10%, 90%);
  --bg-2: hsl(210, 10%, 80%);
  --bg-3: hsl(210, 10%, 70%);
  --bg-4: hsl(210, 10%, 60%);
  --bg-5: hsl(210, 10%, 50%);

  --light: hsl(210, 10%, 95%);
  --dark: hsl(210, 10%, 15%);

  --white: white;
  --black: black;
}

body {
  font-family: sans-serif;
  background: var(--light);
  color: var(--dark);
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: calc(1rem * 2);
  line-height: calc(1rem * 2.5);
}

h2 {
  font-size: calc(1rem * 1.6);
  line-height: calc(1rem * 2);
}

h3 {
  font-size: calc(1rem * 1.2);
  line-height: calc(1rem * 1.5);
  letter-spacing: 0.25px;
}

h4 {
  font-size: calc(1rem * 1);
  line-height: calc(1rem * 1.5);
  letter-spacing: 0.5px;
}

h5 {
  font-size: calc(1rem * 0.8);
  line-height: calc(1rem * 1);
  letter-spacing: 1px;
  font-weight: normal;
}

h6 {
  font-size: calc(1rem * 0.6);
  line-height: calc(1rem * 1);
  letter-spacing: 1px;
  font-weight: normal;
}

p {
  line-height: calc(1rem * 1.5);
}

small {
  font-size: calc(1rem * 0.7);
  line-height: calc(1rem * 1);
  letter-spacing: 1px;
}
