input,
select {
  width: 100%;
  height: 2.5rem;
  background: transparent;
  outline: none;
  border: 1px solid var(--bg-5);
  padding: 0 1rem;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
select:focus {
  outline: 2px solid var(--bg-2);
}

input[type="number"] {
  text-align: right;
}
